/* los comentarios de especificidad van referidos a la regla inmediatamente por debajo*/

/* especificidad: (0,0,1) */

h1-h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size-adjust: inherit;
}

/* especificidad: (0, 0, 1) */

body {
    background-color: grey;
}

/* especificidad de las tres reglas: (0,0,1) */

h1, h3, h5 {
    font-stretch: expanded;
}

/* especificidad de las tres reglas: (0,0,1) */

h2, h4, h6 {
    font-style: italic;
}

/* especificidad: (0,0,1) */

h1 {
    font-size: 2.8em;
}

/* especificidad: (0,0,1) */

h2 {
    font-size: 2.4em;
}

/* especificidad: (0,0,1) */

h3 {
    font-size: 2.0em;
}

/* especificidad: (0,0,1) */

h4 {
    font-size: 1.6em;
}

/* especificidad: (0,0,1) */

h5 {
    font-size: 1.2em;
}

/* especificidad: (0,0,1) */

h6 {
    font-size: 0.8em;
}

/* especificidad de las cinco reglas: (0,0,1) */

p, ul, ol, dl, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

/* especificidad: (0,0,2) */

p::first-letter {
    font-size: 2em;
}