/* Especificidad: (0, 0, 1) */

h1-h6 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

/* Especificidad: (0, 0, 1) */

header {
    background-color: lightcyan;
    color: indigo;
    text-align: center;
    border-radius: 20px;
}

/* Especificidad de las reglas: (0, 0, 1) */

p, ul, ol, dl, td, li, th, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

/* Especificidad: (0, 0, 2) */

p::first-letter {
    font-size: 1.5em;
}

/* Especificidad: (0, 0, 1) */

body {
    background-color: grey;
}

/* Especificidad: (0, 1, 0) */

.textSection {
    color: white;
    background-color: lightsalmon;
    padding: 30px;
    margin: 20px 10px;
    border-radius: 20px;
}

/* Especificidad: (0, 1, 1) */

a:hover {
    color: green;
}

/* Especificidad: (0, 0, 1) */

ul {
    list-style-image: circle inside none;
}

/* Especificidad: (0, 0, 1) */

table {
    border-collapse: collapse;
    caption-side: top;
    border-color: black;
    border-style: solid;
    width: 100%;
}

/* Especificidad: (0, 1, 1) */

.darkTableHeader tr {
    background-color: lightseagreen;
}

/* Especificidad: (0, 0, 1) */

td, th {
    text-align: center;
}

/* Especificidad: (0, 1, 2) */

tr:nth-child(odd) {
    background-color: grey;
}

/* Especificidad: (0, 1, 2) */

tr:nth-child(even) {
    background-color: lightgray;
}