/* Especificidad: (0, 0, 1) */

h1-h6 {
    color: indigo;
    text-align: center;
}

/* especificidad de las cinco reglas: (0,0,1) */

p, ul, ol, dl, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

/* especificidad: (0,0,2) */

p::first-letter {
    font-size: 2em;
}

/* Especificidad: (0, 0, 1) */

body {
    background-color: grey;
}

/* Especificidad: (0, 1, 0) */

.textSection {
    color: white;
    background-color: lightsalmon;
    padding: 30px;
    margin: 20px 10px;
    border-radius: 20px;
}

/* Especificidad: (0, 1, 1) */

a:hover {
    color: green;
}

table {
}