/* Especificidad: (1, 0, 1) */

section#actores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "text1 text1 text1"
        "figure1 figure2 figure3";
}

/* Especificidad: (1, 0, 2) */

section#actores header {
    grid-area: header;
}

/* Especificidad: (1, 0, 2) */

section#actores p {
    grid-area: text1;
}

/* Especificidad: (1, 0, 1) */

figure#figure1 {
    grid-area: figure1;
}

/* Especificidad: (1, 0, 1) */

figure#figure2 {    
    grid-area: figure2;
}

/* Especificidad: (1, 0, 1) */

figure#figure3 {
    grid-area: figure3;
}