/* Especificidad: (0, 0, 1) */

body {
    display: grid;
    grid-template-columns: 2fr, 5fr, 3fr;
    grid-template-areas:
        "header header header"
        "asideIndex introduction asideImg"
        "image image audio";
}

/* Especificidad: (0, 1, 0) */

.introductionArea {
    grid-area: introduction;
}

/* Especificidad: (1, 0, 1) */

aside#index {
    grid-area: asideIndex;
}

/* Especificidad: (1, 0, 1) */

aside#img {
    grid-area: asideImg;
}

/* Especificidad: (1, 0, 2) */

aside#img audio {
    grid-area: audio;
}

header {
    grid-area: header;
}