/* Especificidad: (0, 0, 1) */

body {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    grid-template-areas:
        "header header"
        "asideIndex introduction";
}

/* Especificidad: (0, 1, 0) */

.introductionArea {
    grid-area: introduction;
}

/* Especificidad: (1, 0, 1) */

aside#index {
    grid-area: asideIndex;
}

/* Especificidad: (0, 0, 1) */

header {
    grid-area: header;
}

/* Especificidad: (0, 0, 1) */

img {
    float: left;
    padding-right: 16px;
}